/*Fonts being used on entire website*/
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

* {
	box-sizing: border-box;
    font-family: arial, "Times New Roman", Times, serif;
}
/*End of fonts being used*/

/*Background settings (image in case of video not loading)*/
body {
	margin: 0em 25%;
	background-image: url(../img/background.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
/*Creates horizontal scrolling menu when under 205px*/
	min-width: 205px;
}

video {
	position: fixed;
	right: 0em;
	top: 0em;
	width: 100vw;
	z-index: -100;
	object-fit: cover;
}
/*End of background settings*/

/*Settings for phone & tablet mode*/
@media only screen and (max-width: 960px) { 
	body { 
		margin: 0em; 
	}

	video {
		display: none;
	}

	body {
		background-image: none;
	}
}
/*End of settings for phone & tablet mode*/

/*Header for desktop version*/
header {
   font-size: 3em;
   background-image: url(../img/companylogoBG.jpg);
   background-size: cover;
   background-position: center center;
   padding: 1em 0em;
   text-align: center;
   color: #FFF;
   font-family: roboto-bold;
   text-shadow: 0.03em 0 0 #000, 0 -0.03em 0 #000, 0 0.03em 0 #000, -0.03em 0 0 #000;
   border: #FFF solid;
   border-width: 0em 0em 0.01em 0em;
}
/*End of header*/

/*Hamburger menu settings for mobile mode*/
#mobile-menu {
	display: none;
	list-style-type: none;
	margin: 0em;
}

#mobile-menu button {
	font-size: 0.8em;
}
/*End of hamburger menu settings*/

/*Other mobile only settings*/
@media only screen and (max-width: 360px) {
	header {
		font-size: 1.5em;
		text-shadow: none;
	}

	#desktop-nav {
		display: none;
	}

	#menu-button:hover ~ #mobile-menu  {
		display: block;
	}

	#mobile-menu:hover {
		display: block;
	}
}

#menu-button {
	padding: 0.3em;
}

#mobile-nav {
	text-align: left;
}
/*End of mobile only settings*/

/*Do not display mobile navigation bar on tablet&desktop*/
@media only screen and (min-width: 361px) {
	#mobile-nav {
		display: none;
	}
}
/*End*/

/*Desktop&tablet navigation bar*/
nav {
	background-color: #707070;
	color: #FFF;
	text-align: center;
	padding: 0.03em;
	border: #FFF solid;
    border-width: 0em 0em 0.02em 0em;
}

nav button {
	padding: 0.5em;
	background-color: rgba(0,0,0,0);
	border-style: none;
	color: #FFF;
	font-size: 1.5em;
	cursor: pointer;
}

nav button:hover {
	background-color: rgba(0,0,0,0.1);
}
/*End of navigation bar settings*/

main {
    background-color: #FFF;
    display: block;
    width: 100%;
}

footer {
	background-color: #000;
	text-align: center;
	color: #FFF;
	padding: 0.5em 0em;
}

/*No underlining when linking banner to homepage*/
a {
	text-decoration: none;
}
/*End*/

/*Header&navigation on tablet mode*/
@media only screen and (min-width: 361px) and (max-width: 960px) {
	nav button{
		font-size: 1.5em;
		border:0em;
		padding: 0em 0.5em;
	}

	nav{
		border: 0px, 1px, 1px, 1px solid #FFF;
	}

	header {
		font-size: 2em;
		text-shadow: 0.05em 0 0 #000, 0 -0.05em 0 #000, 0 0.05em 0 #000, -0.05em 0 0 #000;
	}
}
/*End of tablet mode*/