/*
 * Color codes:
 *
 * Indigo (dark blue):      #223D4D
 * Orange:                  #FE7F2D
 * Sunglow: (yellow):       #FCCA46
 * Teel:    (light blue:    #619B8A
*/

/* Fonts */
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

* {
	box-sizing: border-box;
    font-family: arial, "Times New Roman", Times, serif;
}

body {
	margin: 0em 25%;
	background-image: url(../img/background.jpeg);
	background-repeat: no-repeat;
	background-size: contain;
}

@media only screen and (max-width: 960px) { 
	body { 
		margin: 0em; 
	}
}

header {
   font-size: 3em;
   background-image: url(../img/companylogoBG.jpg);
   background-size: cover;
   background-position: center center;
   padding: 1em 0em;
   text-align: center;
   color: #FFF;
   font-family: roboto-bold;
   text-shadow: 0.03em 0 0 #000, 0 -0.03em 0 #000, 0 0.03em 0 #000, -0.03em 0 0 #000;
}

#mobile-menu {
	display: none;
	list-style-type: none;
	margin: 0em;
}

#mobile-menu button {
	font-size: 0.8em;
}

@media only screen and (max-width: 360px) {
	header {
		font-size: 1.5em;
		text-shadow: none;
	}

	#desktop-nav {
		display: none;
	}

	#menu-button:hover ~ #mobile-menu  {
		display: block;
	}

	#mobile-menu:hover {
		display: block;
	}
}

#menu-button {
	padding: 0.3em;
}

#mobile-nav {
	text-align: left;
}

@media only screen and (min-width: 361px) {
	#mobile-nav {
		display: none;
	}
}

nav {
	background-color: #707070;
	color: #FFF;
	text-align: center;
	padding: 0.03em;
}

nav button {
	padding: 0.5em;
	background-color: rgba(0,0,0,0);
	border-style: none;
	color: #FFF;
	font-size: 1.5em;
}

main {
    background-color: #FFF;
}

footer {
	background-color: #000;
	text-align: center;
	color: #FFF;
	padding: 0.5em 0em;
}