/*Contact text on top of page*/
h1 {
	margin: 0em;
	text-align: center;
	background-color: #2699FB;
	color: #FFF;
	font-size: 4em;
	padding: 0.2em;
	font-weight: normal;
}
/*End of contact text*/

/*Fixing the form on desktop*/
fieldset {
	margin: 0.5em 5%;
	padding: 0em;
	color: #AAAAAA;
	background-color: #FFF;
	border: 1px solid #707070;
}

form {
	background-color: #F5F5F5;
	padding-bottom: 30px;
}

main {
	background-color: #F5F5F5;
	border: 1px solid #707070;
}

.contactFormFieldset input, textarea {
	width: 100%;
	border: none;
	padding: 0.3em;
	resize: vertical;
}

.contactFormFieldset input {
	padding: 0.4em;
}

select {
	width: 70%;
	color: #707070;
	float: right;
}

::placeholder {
	color: #AAAAAA ;
}


::-ms-input-placeholder {
	color: #AAAAAA;
}

#topic {
	padding: 0.3em;
}

label {
	font-size: 13.3333px;
}

input[type="submit"] {
	width: 90%;
	margin: 0% 5%;
	background-color: #2699FB;
	color: #FFF;
	padding: 0.4em 0em;
	border: none;
}

input[type="submit"]:hover {
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

/*Text displaying "More information"*/
p {
	margin-left: 2.5%;
	color: #707070;
	width: 95%;
}

/*End of fixing form on desktop*/

/*Tablet mode*/
@media only screen and (max-width: 960px) and (min-width: 361px) {
	h1 {
		display: none;
	}

	p {
		display: none;
	}

	label {
		float: left;
	}

	select {
		float: left;
		width: 100%;
		margin: 10px 0px 3px 0px;
	}

	fieldset {
		margin: 0.8em 5%;
	}

	main {
		padding-top: 10%
	}

	input[type="submit"]{
		font-size: 1.5em;
	}
}
/*End of tablet mode*/

/*mobile mode*/
@media only screen and (max-width: 360px) {
	h1 {
		font-size: 2em;
	}

	p {
		display: none;
	}

	form {
		padding: 40px 0px 10px 0px;
	}

	label {
		float: left;
		padding-bottom: 0.5em;
	}

	select {
		float: left;
		width: 100%;
	}

	fieldset {
		margin: 1em 5%;
	}
}
/*End of mobile mode*/