/*Product catalog title on desktop*/
p {
	margin: 0em;
	text-align: center;
	background-color: #2699FB;
	color: #FFF;
	font-size: 4em;
	padding: 0.2em;
}
/*End of product catalog*/

/*Fixing all the images to scale*/
.container {
	display: flex;
	flex-wrap: wrap;
	background-color: #FFF;
}

.container > img {
	height: 200px;
	width: 33.3%;
	object-fit: cover;
	padding: 7px;
}
/*End of fixing images*/

/*Desktop mode don't display mobile only title*/
@media screen and (min-width: 960px) {
	.mobile-d-only {
		display: none;
	}
}
/*End*/

/*Tablet mode settings*/
@media screen and (max-width: 960px) and (min-width: 361px) {
	.container > img {
		width: 50%;
	}

	.tablet-d-none {
		display: none;
	}

	.mobile-d-only {
		display: none;
	}
}
/*End of tablet mode settings*/

/*Mobile mode settings*/
@media screen and (max-width: 360px) {
	.container > img {
		width: 100%;
	}

	.mobile-d-none {
		display: none;
	}

	.mobile-d-only {
		font-size: 2em;
	}
}
/*End of mobile mode settings*/

h2 {
	display: none;
}